{% extends "base.html" %}

{% block content %}

<nav class="breadcrumb">
    <span class="breadcrumb-item active">home</span>
</nav>

{% if request.user.is_authenticated %}
    {% if request.user.servers.all %}
    <h1>Your Servers:</h1>
    <ul>
        {% for server in request.user.servers.all %}
        <div class="card {% if server.enabled %}bg-success{% else %}bg-danger{% endif %}">
            <div class="card-header">
                {{server}}
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="{% url 'instance:server_detail' server.external_token %}" role="button">details</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
        You have no servers configured
    {% endif %}
{% else %}
    Register now.
{% endif %}

{% endblock content %}
