{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{% url 'home' %}">home</a>
    <a class="breadcrumb-item" href="{% url 'instance:server_detail' connector.server.external_token %}">{{connector.server}}
    </a>
    <span class="breadcrumb-item active">{{connector}}</span>
</nav>
<h1>
    {{connector}} <span class="text-{{ connector.enabled|yesno:'success,danger' }}">{{ connector.enabled|yesno:"Active,Inactive" }}</span>
</h1>


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Undelivered Messages</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages_undelivered_by_date %}
        <tr>
            <td scope="row">{{message.date|date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{message.created_count}}</td>
            <td>
                <a name="" id="" class="btn btn-danger" href="?date={{message.date|date:'Y-m-d'}}&action=force_delivery" role="button">force delivery</a>
                <a name="" id="" class="btn btn-success" href="?date={{message.date|date:'Y-m-d'}}&action=mark_as_delivered" role="button">mark as delivered</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
