{% extends "base_vazia.html" %} {% load parse_date crispy_forms_tags %}


{% block content %}



{% comment %} <!-- Campo de texto para seleção de usuários e botão de envio -->
<div class="dropdown">
  <input type="text" id="campoUsuario" placeholder="Escolha" readonly onclick="mostrarOpcoes()">
  <button type="submit">Enviar</button>
  <div id="usuariosDropdown" class="dropdown-content">
    {% for visitor in visitors_list %}
     <a href="#" onclick="selecionarUsuario('{{ visitor.name }}')">{{ visitor.name }}</a>
      <hr>
    {% endfor %}

  </div>
</div>

<!-- Div de envio de mensagens -->
<div class="message-sender">
  <textarea id="messageInput" placeholder="Digite sua mensagem..."></textarea>
  <button onclick="sendMessage()">Enviar</button>
</div>

<!-- Mensagens enviadas serão exibidas aqui (Feito para realizar testes)-->
<div class="messages-display">
  <!-- As mensagens enviadas serão adicionadas aqui dinamicamente -->
</div> {% endcomment %}

<!-- Div de seleção de usuários com Select2 -->
{% comment %} <a>{{usuarios_no_bot}}</a> {% endcomment %}

{% comment %} {%for usuario in usuarios_no_bot%}
  <div>{{usuario}}</div>
{%endfor%} {% endcomment %}

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="errorModalLabel">Erro</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<span id="errorModalMessage"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-4">
    <select class="form-control select2" id="usuario">
      <option value="" disabled selected>Selecione seu Usuario</option>
      {% for usuario in usuarios_no_bot %}
        <option value="{{ usuario.username }}">
          {{ usuario.username }} 
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="col-4">
    <select class="form-control select2" id="campoContato">
      <option value="" disabled selected>Escolha um contato...</option>
        {% for visitor in visitors_list %}
          <option value="{%if visitor.phone and visitor.phone.0.phoneNumber %}{{ visitor.phone.0.phoneNumber }}{% endif %}">
            {{ visitor.name }}
            {% if visitor.phone and visitor.phone.0.phoneNumber %}
                - {{ visitor.phone.0.phoneNumber }}
            {% endif %}
          </option>
        {% endfor %}
    </select>
  </div>
  <div class="col-2">
    <button type="submit" class="form-control btn btn-success" onclick="sendMessage()">Enviar</button>
  </div>
</div>
{% comment %} para de ser burro muleke, pronto {% endcomment %}
<!-- Div de envio de mensagens -->
<div class="message-sender">
  <textarea class="form-control" id="messageInput" placeholder="Digite sua mensagem..."></textarea>
</div>

<!-- Mensagens enviadas serão exibidas aqui -->
<div class="messages-display">
  <!-- As mensagens enviadas serão adicionadas aqui dinamicamente -->
</div>



<!-- Script para manipulação do dropdown e seleção de usuários -->
<script>
{% comment %} function mostrarOpcoes() {
    document.getElementById("usuariosDropdown").classList.toggle("show");
}

function sendMessage() {
  // Pega a mensagem do usuário e o nome do usuário selecionado
  const message = document.getElementById('messageInput').value;
  const destination = document.getElementById('campoUsuario').value;

  // Verifica se a mensagem e o destino não estão vazios
  if(message.trim() !== "" && destination.trim() !== "") {
      // Adiciona a mensagem à div de exibição
      const messagesDiv = document.querySelector('.messages-display');
      const newMessage = document.createElement('div');
      newMessage.classList.add('message');
      newMessage.innerHTML = `<strong>Mensagem:</strong> ${message} <br> <strong>Enviado para:</strong> ${destination}`;
      messagesDiv.appendChild(newMessage);

      // Limpa os campos de entrada
      document.getElementById('messageInput').value = '';
      document.getElementById('campoUsuario').value = '';
  } else {
      alert("Por favor, preencha ambos os campos: mensagem e destino.");
  }
}

function selecionarUsuario(nome) {
    document.getElementById("campoUsuario").value = nome;
    document.getElementById("usuariosDropdown").classList.remove("show");
}

// Fechar dropdown ao clicar fora do campo
window.onclick = function(event) {
  if (!event.target.matches('#campoUsuario')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
} {% endcomment %}

// Pegar o pathname da URL atual e dividir usando o caractere "/"
	var partes = window.location.href.split('/');

// Verificar se há pelo menos 6 partes na URL
	if (partes.length > 7) {
		var dicionario = {
			endereco_base: `${partes[0]}`,
			endereco: `${partes[0]}/${partes[1]}/${partes[2]}/${partes[3]}/${partes[4]}`,
			id_servidor: partes[5],            // Terceira parte
			token_rocketchat: partes[6],     // Quinta parte
			id_user_rocket_chat: partes[7],   // Sexta parte
			conector_id: partes[8], //
		};
		//
		dicionario['endereco_conector'] = `${dicionario.endereco_base}/connector/${dicionario.conector_id}` 
		console.log(dicionario);
	} else {
		console.error("A URL não possui segmentos suficientes.");
	}

	$(document).ready(function() {
	$('#campoContato').select2();
	});
  function sendMessage() {
		// Pega a mensagem do usuário e o nome do usuário selecionado
		const message = document.getElementById('messageInput').value;
		const destination = $('#campoContato').val();
		let url = `${dicionario.endereco_conector}/inbound?phone=${destination}@${$('#usuario').val()}&text=${message}`;

		// Verifica se a mensagem e o destino não estão vazios
		if (message.trim() !== "" && destination !== null) {
			// Adiciona a mensagem à div de exibição
			const messagesDiv = document.querySelector('.messages-display');
			const newMessage = document.createElement('div');
			newMessage.classList.add('message', 'alert', 'alert-info', 'mt-3'); // Adicionado classes do Bootstrap
			newMessage.innerHTML = `<strong>Mensagem:</strong> ${message} <br> <strong>Enviado para:</strong> ${destination}`;
			messagesDiv.appendChild(newMessage);

			// Limpa os campos de entrada
			document.getElementById('messageInput').value = '';
			$('#campoContato').val(null).trigger('change'); // Reseta o valor do Select2
		} else {
			showErrorModal("Por favor, preencha ambos os campos: mensagem e destino."); // Mostra modal em vez de alerta
			return;
		}

		fetch(url)
		.then(response => {
			// Verifica se a resposta é bem-sucedida (status 200-299)
			if (!response.ok) {
				throw new Error('Erro na resposta da API'); // Lança um erro para ser capturado no .catch
			}
			return response.json();
		})
		.then(data => {
			console.log(data);
			// Se você quiser redirecionar baseado em alguma condição nos dados, pode fazer aqui.
			// Exemplo: if (data.redirect) window.location.href = data.newUrl;
		})
	}

	// Função para mostrar um modal de erro com Bootstrap
	function showErrorModal(message) {
		// Aqui, suponho que você tenha uma modal no seu HTML com a ID 'errorModal' e um elemento span dentro dela com a ID 'errorModalMessage'
		const modalMessage = document.getElementById('errorModalMessage');
		modalMessage.textContent = message;
		$('#errorModal').modal('show');
	}
</script>

<!-- Estilos CSS para o campo, botão e dropdown -->
<style>

.message-sender {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.messages-display {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

</style>




{% endblock content %}
