{% extends "base.html" %} {% load parse_date crispy_forms_tags %}


{% block content %}



{% comment %} <!-- Campo de texto para seleção de usuários e botão de envio -->
<div class="dropdown">
  <input type="text" id="campoUsuario" placeholder="Escolha" readonly onclick="mostrarOpcoes()">
  <button type="submit">Enviar</button>
  <div id="usuariosDropdown" class="dropdown-content">
    {% for visitor in visitors_list %}
     <a href="#" onclick="selecionarUsuario('{{ visitor.name }}')">{{ visitor.name }}</a>
      <hr>
    {% endfor %}

  </div>
</div>

<!-- Div de envio de mensagens -->
<div class="message-sender">
  <textarea id="messageInput" placeholder="Digite sua mensagem..."></textarea>
  <button onclick="sendMessage()">Enviar</button>
</div>

<!-- Mensagens enviadas serão exibidas aqui (Feito para realizar testes)-->
<div class="messages-display">
  <!-- As mensagens enviadas serão adicionadas aqui dinamicamente -->
</div> {% endcomment %}

<!-- Div de seleção de usuários com Select2 -->
{% comment %} <a>{{usuarios_no_bot}}</a> {% endcomment %}

{% comment %} {%for usuario in usuarios_no_bot%}
  <div>{{usuario}}</div>
{%endfor%} {% endcomment %}

<div class="dropdown">
  <select class="select2" id="usuario" style="width: 300px;">
    <option value="" disabled selected>Selecione seu Usuario</option>
    {% for usuario in usuarios_no_bot %}
      <option value="{{ usuario.username }}">
        {{ usuario.username }} 
      </option>
    {% endfor %}
</select>

</select>

  </select> 

  <select class="select2" id="campoContato" style="width: 300px;">
      <option value="" disabled selected>Escolha um contato...</option>
      {% for visitor in visitors_list %}
        <option value="{%if visitor.phone and visitor.phone.0.phoneNumber %}{{ visitor.phone.0.phoneNumber }}{% endif %}">
          {{ visitor.name }}
          {% if visitor.phone and visitor.phone.0.phoneNumber %}
              - {{ visitor.phone.0.phoneNumber }}
          {% endif %}
        </option>
      {% endfor %}
  </select> 
  <button type="submit" onclick="sendMessage()">Enviar</button>
</div>
{% comment %} para de ser burro muleke, pronto {% endcomment %}
<!-- Div de envio de mensagens -->
<div class="message-sender">
  <textarea id="messageInput" placeholder="Digite sua mensagem..."></textarea>
</div>

<!-- Mensagens enviadas serão exibidas aqui -->
<div class="messages-display">
  <!-- As mensagens enviadas serão adicionadas aqui dinamicamente -->
</div>



<!-- Script para manipulação do dropdown e seleção de usuários -->
<script>
{% comment %} function mostrarOpcoes() {
    document.getElementById("usuariosDropdown").classList.toggle("show");
}

function sendMessage() {
  // Pega a mensagem do usuário e o nome do usuário selecionado
  const message = document.getElementById('messageInput').value;
  const destination = document.getElementById('campoUsuario').value;

  // Verifica se a mensagem e o destino não estão vazios
  if(message.trim() !== "" && destination.trim() !== "") {
      // Adiciona a mensagem à div de exibição
      const messagesDiv = document.querySelector('.messages-display');
      const newMessage = document.createElement('div');
      newMessage.classList.add('message');
      newMessage.innerHTML = `<strong>Mensagem:</strong> ${message} <br> <strong>Enviado para:</strong> ${destination}`;
      messagesDiv.appendChild(newMessage);

      // Limpa os campos de entrada
      document.getElementById('messageInput').value = '';
      document.getElementById('campoUsuario').value = '';
  } else {
      alert("Por favor, preencha ambos os campos: mensagem e destino.");
  }
}

function selecionarUsuario(nome) {
    document.getElementById("campoUsuario").value = nome;
    document.getElementById("usuariosDropdown").classList.remove("show");
}

// Fechar dropdown ao clicar fora do campo
window.onclick = function(event) {
  if (!event.target.matches('#campoUsuario')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
} {% endcomment %}

// Pegar o pathname da URL atual e dividir usando o caractere "/"
var partes = window.location.href.split('/');

// Verificar se há pelo menos 6 partes na URL
if (partes.length > 7) {
    var dicionario = {
        endereco_base: `${partes[0]}`,
        endereco: `${partes[0]}/${partes[1]}/${partes[2]}/${partes[3]}/${partes[4]}`,
        id_servidor: partes[5],            // Terceira parte
        token_rocketchat: partes[6],     // Quinta parte
        id_user_rocket_chat: partes[7],   // Sexta parte
        conector_id: partes[8], //
    };
    //
    dicionario['endereco_conector'] = `${dicionario.endereco_base}/connector/${dicionario.conector_id}` 
    console.log(dicionario);
} else {
    console.error("A URL não possui segmentos suficientes.");
}

$(document).ready(function() {
  $('#campoContato').select2();
});

function sendMessage() {
  // Pega a mensagem do usuário e o nome do usuário selecionado
  const message = document.getElementById('messageInput').value;
  const destination = $('#campoContato').val();
  let url = `${dicionario.endereco_conector}/inbound?phone=${destination}@${$('#usuario').val()}&text=${message}`
  
  // Verifica se a mensagem e o destino não estão vazios
  if(message.trim() !== "" && destination !== null) {
      // Adiciona a mensagem à div de exibição
      const messagesDiv = document.querySelector('.messages-display');
      const newMessage = document.createElement('div');
      newMessage.classList.add('message');
      newMessage.innerHTML = `<strong>Mensagem:</strong> ${message} <br> <strong>Enviado para:</strong> ${destination}`;
      messagesDiv.appendChild(newMessage);

      // Limpa os campos de entrada
      document.getElementById('messageInput').value = '';
      $('#campoContato').val(null).trigger('change'); // Reseta o valor do Select2
  } else {
      alert("Por favor, preencha ambos os campos: mensagem e destino.");
  }

  fetch(url)
    .then(response => response.json()) // Se a API retornar um JSON
    .then(data => {
        console.log(data); // Processa a resposta aqui
    })
    .catch(error => {
        console.error("Erro ao chamar a API: ", error);
    });

// Para usar a função:
// callApi('556798576395', 'Oi');

}
</script>

<!-- Estilos CSS para o campo, botão e dropdown -->
<style>
#campoContato {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

.navbar {
  display: none;
}

.message-sender {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#messageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.messages-display {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.message {
  padding: 5px;
  margin: 5px 0;
  background-color: #e9e9e9;
  border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    vertical-align: top;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
</style>




{% endblock content %}
