{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'home' %}">home</a>
        <a class="breadcrumb-item" href="{% url 'instance:new_server' %}">New Server</a>
        <span class="breadcrumb-item active">Rocket.Chat Type<span>
        </nav>
        <div id="form" class="container">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <hr />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox"
                               class="form-check-input"
                               name="install_omnichannel_webhooks"
                               id=""
                               value="1"
                               checked>
                        Install Omnichannel Webhook on this Server <small>(using default configs)</small>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox"
                               class="form-check-input"
                               name="install_default_wppconnect"
                               id=""
                               value="1"
                               checked>
                        Add default wppconnect connector <small>(using default configs)</small>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox"
                               class="form-check-input"
                               name="add_default_server_tasks"
                               id=""
                               value="1"
                               checked>
                        Add default server tasks <small>(using default configs)</small>
                    </label>
                </div>
                <hr />
                <button type="submit" class="btn btn-primary mb-5">Add Server</button>
            </form>
        </div>
    {% endblock content %}
