{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{% url 'home' %}">home</a>
        <a class="breadcrumb-item" href="{% url 'instance:new_server' %}">New Server</a>
        <span class="breadcrumb-item active">Chatwoot Type<span>
        </nav>
        <div id="form" class="container">
            <h1>Existing Instance</h1>

            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-primary mb-5">Add Server</button>
            </form>
        </div>
    {% endblock content %}
