{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{% url 'home' %}">home</a>
    <span class="breadcrumb-item active">{{server}}</span>
</nav>
<div class="container">
    <a name="" id="" class="btn btn-primary btn-lg float-right" href="{% url 'instance:new_connector' server.external_token %}" role="button">
        new connector
    </a>
</div>
<div class="container p-5" id="server-header">
    <h1>
        {% if request.user.is_staff %}
        <a name="" id="" class="btn btn-primary" href="{% url 'admin:instance_server_change' server.id %}" role="button">
            <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
        {% endif %}
        {{server}} <span class="text-{{ server.enabled|yesno:'success,danger' }}">{{ server.enabled|yesno:"Active,Inactive" }}</span>
    </h1>
    <hr />
    <a href="{{server.get_external_url}}">{{server.get_external_url}}</a>
    {% if status.alive %}
        <span class="badge badge-success">UP</span>
        <span class="badge badge-info">Version: {{status.info.info.version}}</span>
    {% else %}
        <span class="badge badge-danger">Down!</span>
    {% endif %}
    {% if status.auth_error %}
        <span class="badge badge-danger" title="Check Credentials!">AUTH ERROR!</span>
    {% else %}
    <span class="badge badge-success">AUTH</span>
    {% endif %}
    <hr />
    <i>
        Add to Rocket.Chat's Omnichannel WebHook Endpoint:<br />
        {{server.url}}/server/{{server.external_token}}/
    </i>
</div>



{% for connector in connectors %}
    <div class="card mb-3">
        <div class="card-header">
            <h2>
                Connector: {{connector.name}} <span class="text-{{ connector.enabled|yesno:'success,danger' }}">{{ connector.enabled|yesno:"Active,Inactive" }}</span>
            </h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary btn-bg" href="{% url 'instance:connector_analyze' connector.server.external_token connector.external_token %}">analyze</a><br />
            <p class="card-text">
                {% if connector.last_message%} Last Message: {{connector.last_message}} ({{connector.last_message|timesince}})<br />{% endif %}
                <span class="{% if connector.undelivered_messages %}text-danger{% else %}text-success{%endif%}">
                    Undelivered Messages: {{connector.undelivered_messages}}
                </span>
            </p>
        </div>
    </div>

{% endfor %}

{% endblock content %}
