{% extends "base.html" %} {% load parse_date %}


{% block content %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{% url 'home' %}">home</a>
    <span class="breadcrumb-item active"><a href="{% url 'instance:server_detail' server.external_token %}">{{server}}</a></span>
</nav>

<p class="mb-3">
    <h1>Omnichannel Monitor</h1>
    {% if order == "agent" %}
        <a name="" id="" class="btn btn-primary" href="?order=department" role="button">order by department</a>
        {% regroup open_rooms by servedBy.username as open_chat %}
    {% else %}
        <a name="" id="" class="btn btn-primary" href="?order=agent" role="button">order by agent</a>
        {% regroup open_rooms by department.name as open_chat %}
    {% endif %}
</p>


{% for group in open_chat %}
<div class="card mb-2">
    <div class="card-header">
        {{group.grouper}} ({{group.list|length}})
        <a class="btn btn-primary float-right text-white" type="button" data-toggle="collapse" data-target="#collapse-{{group.grouper}}" aria-expanded="false" aria-controls="collapse-{{group.grouper}}">
            show
        </a>
    </div>
    <div class="card-body collapse" id="collapse-{{group.grouper}}">
        {% for chat in group.list %}
            <div id="chat-{{chat.lastMessage.rid}}">
                <i class="fas fa-envelope-open" title="Total Messages"></i> {{chat.msgs}}
                <i class="fas fa-users" title="Users in Chat"></i> {{chat.usersCount}}
                <i class="fas fa-torii-gate" title="Source"></i> {{chat.source.type}}<br />
                <i class="fas fa-comment-dots" title="Last Message"></i> <a href="{{server.external_url}}/omnichannel/current/{{chat.lastMessage.rid}}/room-info">Last Message: {{chat.lastMessage.msg}}</a>
                by {{chat.lastMessage.u.name}} at {{chat.lastMessage.ts}} <small>{{chat.lastMessage.ts}}</small><br />
                <i class="fas fa-door-open"></i> Visitor: {{chat.fname}} <small>{{chat.v.token}}</small><br />
                <i class="fas fa-box    "></i> {{chat.department.name}}
            </div>

        {% if not forloop.last %}
        <hr />
        {% endif %}
        {% endfor %}
        <br />
    </div>
    {% comment %} <div class="card-footer text-muted">
        Footer
    </div> {% endcomment %}
</div>
{% endfor %}

{% endblock content %}
