{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{% url 'home' %}">home</a>
    <span class="breadcrumb-item active">{{server}}</span>
</nav>
<h1>
    {{server}} <span class="text-{{ server.enabled|yesno:'success,danger' }}">{{ server.enabled|yesno:"Active,Inactive" }}</span>
</h1>
<a href="{{server.url}}">{{server.url}}</a>
{% if alive %}
    <span class="badge badge-success">UP</span>
    <span class="badge badge-info">Version: {{info.info.version}}</span>
{% else %}
    <span class="badge badge-danger">Down!</span>
    {% if auth_error %}
    <span class="badge badge-danger">AUTH ERROR!</span>
    {% endif %}
{% endif %}
<span class="badge badge-secondary">endpoint: {{base_uri}}/server/{{server.external_token}}/</span>

{% for connector in connectors %}
    <div class="card mb-3">
        <div class="card-header">
            <h2>
                Connector: {{connector.name}} <span class="text-{{ connector.enabled|yesno:'success,danger' }}">{{ connector.enabled|yesno:"Active,Inactive" }}</span>
            </h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary btn-bg" href="{% url 'instance:connector_analyze' connector.server.external_token connector.external_token %}">analyze</a><br />
            <p class="card-text">
                Endpoint: {{base_uri}}/connector/{{connector.external_token}}/<br />
                {% if connector.last_message%} Last Message: {{connector.last_message}} ({{connector.last_message|timesince}})<br />{% endif %}
                <span class="{% if connector.undelivered_messages %}text-danger{% else %}text-success{%endif%}">
                    Undelivered Messages: {{connector.undelivered_messages}}
                </span>
            </p>
        </div>
    </div>

{% endfor %}

{% endblock content %}
